<form [formGroup]="form">
  <mat-form-field>
    <input matInput formControlName="name" (keydown)="changed()" (keyup)="changed()">
    <mat-hint>Name</mat-hint>
  </mat-form-field>
</form>

<mat-icon (click)="delete()">delete</mat-icon>
