<form [formGroup]="addUserForm" (submit)="addUser()">
  <mat-form-field>
    <label for="userName">Add user</label>
    <input id="userName" matInput type="text" formControlName="name">
  </mat-form-field>
  <button mat-button type="submit" *ngIf="addUserForm.value?.name?.length > 0">Submit</button>
</form>
<h1>Users list</h1>
<mat-list role="list">
  <mat-list-item *ngFor="let user of users">
    <mat-icon (click)="openDialog(user, $event)" class="edit-button">edit</mat-icon>
    <a class="user-name" [routerLink]="['/orders', user.id]">
      {{user.name}}
    </a>
  </mat-list-item>
</mat-list>
