<mat-accordion>
  <mat-expansion-panel *ngFor="let user of users" [expanded]="usersOrdersService?.isExpandedUser(user.id)"
                       (opened)="usersOrdersService?.setExpandedUser(user.id)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{user.name}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field class="example-chip-list">
      <mat-chip-list #ordersList>
        <mat-chip (click)="openDialog(user, order)" color="primary" *ngFor="let order of user.orders">{{order.name}}
        </mat-chip>
        <input placeholder="New order..."
               [matChipInputFor]="ordersList"
               (matChipInputTokenEnd)="add(user.id, $event)">
      </mat-chip-list>
    </mat-form-field>
  </mat-expansion-panel>
</mat-accordion>
